@charset "utf-8";

body {
	margin: 0;
	padding: 0;
}

h1 {
	display: block;
	background-color: black;
	color: white;
	padding: 0.5em;
	font-size: 120%;
	margin: 0;	
}

p {
	font-size: 100%;
}

	p span {
		color: red;
		font-weight: bold;
	}